apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-deployment
  labels:
    app: todo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
        - name: todo-app-container
          image: tg/todo-app:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080

          env:
            # Переменные из ConfigMap
            - name: APP_NAME
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: APP_NAME
            - name: APP_ENV
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: APP_ENV
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: SERVER_PORT

            # Переменные из Secret
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: todo-app-secret
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: todo-app-secret
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: todo-app-secret
                  key: DB_NAME

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
